<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Contact</h1>
        <div class="container">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam itaque aperiam ab reprehenderit optio eveniet,
                 et accusantium officiis facilis dolore distinctio facere tenetur. Facere eaque porro iure dicta sapiente. Et.</p>
        </div>
    </div>
    <div class="container pt-3" style="width: 60%; height: 300px; background-color:#F5F5F5;">
    <div class="">   
    <div class=" container mb-3 d-flex" style="width: 80%;">
        <label style="width: 150px;" for="exampleFormControlInput1" class="form-label">Your E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
      <div class="container mb-3 d-flex" style="width: 80%;">
        <label style="width: 150px; height: 150px;" for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
      <div class="d-flex justify-content-end">
      <button class="btn btn-primary d-flex justify-content-center" style="width: 100px; height: 40px;">Submit</button>
      </div>
    </div>
   
</body>
</html>