<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        </head>
        <body>
            <div class="container-fluid" style="display:flex";>
                <h1>This First Heading</h1>
                <h1 style="color:grey;margin-left:5px";>Will Catch Your Eye</h1>
            <div style="text-align: right;margin-left: 300px;">
                <p><img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv82osl7xMNSmEYzUyiUU4ZlsKCcTXd6zwew&usqp=CAU></p></div>
            </div>
            <br><p>Trataremos de atender sus necesidades lo más rápido posible siempre y cuando las condiciones lo permitan, que suele ser bastante a menudo y además sin coste, lo hacemos solamente por ayudar al necesitado.</p>
        </body>
    </html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>