
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Start boostrap</a>
        </li>
        
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar -->

 <!-- text -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
           
            <img src="website1/assets/img/bg.jpg" class="d-block w-100" alt="...">
            <div class="card-img-overlay d-flex justify-content-center flex-column mainh1  align-items-center">
               <div class="color text-center"><h1 class="card-title">One Page Wonder</h1></div>
             
               <div class="color2">  <h1 class="card-title">Will Knock Your Socks Off</h1></div>
                
              </div>
          </div>
        
        </div>
      </div>
<div>
    
</div>
 <!-- text -->

 
