
    <div class="container-fluid justify-content-center">
        <img src="https://images.westend61.de/0000796449pw/woman-typing-on-laptop-at-glass-table-while-little-girl-drawing-picture-beside-top-view-IGGF00012.jpg"
            class="rounded-circle rounded float-left">
        <div class="row">
            <div class="col-md-auto">

                <h2>The Second Heading</h2>
            </div>
            <div class="col-md-auto text-secondary m-0 p-0">
                <h2>Is Pretty Cool Too.</h2>
            </div>
            <div class="row">

            <div class="parrafo w-75 m-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed ligula id lectus fringilla
                    dictum sed nec elit. Duis rutrum dictum justo, et finibus ligula vestibulum dignissim. Sed
                    tristique, odio a semper facilisis</p>

            </div>
        </div>
        </div>


    </div>

    

